$jumbotronColor: #efefef;

.jumbo {
    background-size: cover;
    color: $jumbotronColor;
    height: 400px;
    position: relative;
    z-index: -2;
    justify-content: center;
    width: 70%;
}
.main{
    background-color: #c76d6d;
    margin: 0 auto;
}
.div{
    height: 400px;
    width: 60%;
    background-color: powderblue;
}