@import "_variables";
.ui.grid.grid-container {
  margin: 10px 0px;
  justify-content: center;
  min-width: 800px;
}
.ui.grid.dashboard-grid-container {
  margin: 10px 0px;
  justify-content: center;
  min-width: 300px;
}
.dashboard-companyName {
  font-size: small;
  overflow: hidden;
}
.row.ui.segment.grid-row,
.row.ui.segment.dashboard-grid-row {
  padding: 2vh;
  color: $white;
  cursor: pointer;
  margin: 2px 0px;
  border-radius: 7px;
}
.row.ui.segment.grid-row {
  background-color: $cardGrey;
}
.row.ui.segment.dashboard-grid-row {
  background-color: $backgroundGrey;
}
.grid-header-item {
  font-size: 0.7rem;
  min-width: 90px;
  text-align: right;
}
.grid-item {
  font-size: 0.9rem;
  min-width: 90px;
  text-align: right;
}

.icon-content {
  transform: translateX(-25%);
}

.ui.small.inverted.pagination.menu {
  margin-top: 20px;
}
