.ui.input.kycinput > input,
.ui.input.kycinput > input:focus {
  border: 2px solid white;
  background: transparent;
  color: white;
  text-align: center;
}

.midSection {
  padding-top: 5%;
  min-height: 300px;
}

.ui.button.kycbutton {
  background-color: white;
}

.top.aligned.seven.wide.column.rightSide {
  padding: 0px 5%;
  padding-top: 2%;
  height: 100%;
}

.ui.button.getStart {
  background-color: greenyellow;
  width: 50%;
  height: 5%;
  margin-top: 10%;
  border-radius: 10px;
}
.buttonGrid {
  margin-top: 10%;
}

.fileupload {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 5%;
}

.signature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type="file"] {
  display: none;
}

.fileupload > .ui.icon.header {
  color: white;
}

.custom-file-upload {
  display: inline-block;
  width: 100px;
  padding: 8px 12px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: greenyellow;
}

.backnext {
  display: flex;
  justify-content: space-between;
}

.kycdiv {
  background-color: #272727;
  margin-top: 2%;
  border-radius: 25px;
}

.kycProfile {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.ui.center.aligned.grid.profile {
  margin-top: 5%;
}

.ui.small.circular.image.profilePicture {
  width: 100px;
  height: 100px;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.ui.button.uploadnow {
  margin-top: 15%;
  background-color: greenyellow;
}
