.ui.input.kycinput > input,
.ui.input.kycinput > input:focus {
  border: 2px solid white;
  background: transparent;
  color: white;
  text-align: center;
  margin-top:10%;
  width: 50%;
}

.ui.button.kycbutton {
  background-color: greenyellow;
}

.rightSide {
  padding-top: 4%;
}

.ui.button.getStart {
  background-color: greenyellow;
  width: 50%;
  height: 5%;
  margin-top: 10%;
  border-radius: 10px;
}
.buttonGrid {
  margin-top: 10%;
}

.ui.placeholder.segment.fileupload {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui.placeholder.segment.fileupload,
.ui.placeholder.segment.signature > .ui.segment {
  background: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ui.placeholder.segment.signature {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0px;
}

input[type="file"] {
  display: none;
}

.ui.segment > .ui.icon.header {
  color: white;
}

.custom-file-upload {
  display: inline-block;
  width: 100px;
  padding: 8px 12px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: greenyellow;
}

.kycTicket {
  padding: 0px 20%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.kycdiv {
  background-color: #272727;
  margin-top: 2%;
  border-radius: 25px;
}

.kycProfile {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.ui.center.aligned.grid.profile {
  margin-top: 5%;
}

.ui.small.circular.image.profilePicture
{
  width:100px;
  height:100px;
}
