.loading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    max-height: 50px;
    max-width: 50px;
}

.dot1 {
    font-size: 8vh;
    visibility: hidden;
    animation: processing 0.9s linear 0.3s infinite;
}

.dot2 {
    font-size: 8vh;
    visibility: hidden;
    animation: processing 0.9s linear 0.6s infinite;
}

.dot3 {
    font-size: 8vh;
    visibility: hidden;
    animation: processing 0.9s linear 0.9s infinite;
}

@keyframes processing {
    0% {
        visibility: visible;
        color: black;
    }
    75% {
        visibility: hidden;
        color: rgb(22, 22, 112);
    }
}

.dots-span-container {
    margin-left: -4vh;
    font-size: 3vh;
    font-weight: bold;
    transform: translateY(-50%);
}
