.email,.password{
  color: white
}

.ui.segment.userlogin {
  width: 98%;
  height: 97%;
  padding: 3%;
  min-width: 600px;
  background-color: #272727;
  color:#272727 ;    
}

.loginBox{
 margin: 5% 27% 5% 27% 
}

.ui.fluid.button.submitButton{
  background-color: yellowgreen;
}

.ui.inverted.transparent.left.icon.input.textcolor>input{
  color: white
}

.mainLayout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
  background:black
}

.ui.image.ptpimage{
  position: relative;
  padding-top: 3%;
  width: 100%;
  height: 100%;
}