@import "./variables";
.ui.secondary.pointing.menu.list-container .item {
	font-size: medium;
	font-weight: bolder;
	padding: 20px 40px;
}
.ui.secondary.inverted.list-container.pointing.list-container.menu .active.item.list-item {
	font-size: medium;
	font-weight: bolder;
	padding: 20px 40px;
	border-bottom-width: 5px;
	border-color: $ligherGreenBorder;
}
.ui.secondary.inverted.list-container.pointing.list-container.menu .active.item.list-item a{
	color: $ligherGreenText;
}


