.sideBar {
	background-color: #272727;
	height: 100vh;
	width: 6rem;
}
.sideBar ul {
	list-style: none;
	padding: 2rem 1rem;
	margin: 0;
	padding-top: 8rem;
}
.sideBar li {
	cursor: pointer;
	margin: 1rem 0;
}
