@import "./variables";
.sideBar {
	background-color: $cardGrey;
	height: 100vh;
	width: $navBarWidth;
	ul {
		list-style: none;
		padding: 2rem 1rem;
		margin: 0;
		padding-top: 8rem;
		text-align: center;
	}
	li {
		cursor: pointer;
		margin: 1rem 0;
	}
}
.list-container{
	position: fixed;
	top: 25%;
	background-color: $cardGrey;
}
.list-container > .list-item {
	margin-left: 2px;
	cursor: pointer;
}
.ui.vertical.menu.list-container {
    width: 6rem;
}

