.ui.segment.profile {
  padding: 30px;
  background-color: #272727;
  margin: 0% 10% 0% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.inverted.transparent.left.icon.input.textcolor > input {
  color: white;
  border-bottom: 3px solid #818181;
}

.ui.inverted.transparent.icon.input.textcolor > input {
  color: white;
  border-bottom: 3px solid #272727;
}

.ui.inverted.transparent.input.textcolor > input {
  color: white;
  border-bottom: 3px solid #272727;

}

.ui.inverted.transparent.input.textborder {
  width: 90%;
  border-bottom: 3px solid #818181;
}
.ui.inverted.transparent.input.textcolor {
  width: 90%;
}
.ui.inverted.transparent.input.username > input {
  color: white;
  margin-top: 15%;
  margin-left: 0px;
  font-size: large;
}

.ui.circular.image.profileicon {
  margin-left: 15%;
  width: 100px;
  height: 100px;
}

.save-button-container{
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(25%);
}

.ui.button.save-button{
  padding:auto 40px;
}

.ui.button.cancel-button{
  padding:auto 10px;
}

.ui.button.edit-button{
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0px;
}

.icon{
  cursor:pointer
}
#userdob::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.ui.disabled.dropdown.profiledropdown{
  opacity: 1;
}
.ui.dropdown.profiledropdown.textborder{
  width: 90%;
  border-bottom: 3px solid #818181;
}
.ui.disabled.dropdown.profiledropdown>.dropdown.icon{
  opacity: 0;
}

.ui.grid > .row > .wide.column {
  margin: 0;
}

.ui.divider.profile-divider::before{
  border:2px solid red;
  margin-right:100px
}