.ui.segment.profile {
  padding: 30px;
  background-color: #272727;
  margin: 0% 10% 0% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.inverted.transparent.left.icon.input.textcolor > input {
  color: white;
  border-bottom: 3px solid #818181;
}

.ui.inverted.transparent.icon.input.textcolor > input {
  color: white;
}

.ui.inverted.transparent.input.textcolor > input {
  color: white;
}

.ui.inverted.transparent.input.textborder {
  width: 90%;
  border-bottom: 3px solid #818181;
}
.ui.inverted.transparent.input.textcolor {
  width: 90%;
}
.ui.inverted.transparent.input.username > input {
  color: white;
  margin-top: 15%;
  margin-left: 0px;
  font-size: large;
}

.ui.circular.image.profileicon {
  margin-left: 15%;
  width: 100px;
  height: 100px;
}

.ui.buttons.save-button{
  display: block;
  cursor: pointer;
  margin-left: 60%;
}
.ui.button.editbutton{
  display: block;
  cursor: pointer;
  margin-left: auto;
}

.icon{
  cursor:pointer
}
#userdob::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.ui.disabled.dropdown.profiledropdown{
  opacity: 1;
}
.ui.dropdown.profiledropdown.textborder{
  width: 90%;
  border-bottom: 3px solid #818181;
}
.ui.disabled.dropdown.profiledropdown>.dropdown.icon{
  opacity: 0;
}

.ui.grid > .row > .wide.column {
  margin: 0;
}