.ui.segment.profile {
  padding: 30px;
  background-color: #272727;
  margin-left: 18%;
  width: 60%;
}

.ui.inverted.transparent.left.icon.input.textcolor > input {
  color: white;
}

.ui.inverted.transparent.icon.input.textcolor > input {
  color: white;
}

.ui.inverted.transparent.input.textcolor > input {
  color: white;
}

.ui.inverted.transparent.input.username > input {
  color: white;
  margin-top: 15%;
  margin-left: 0px;
  font-size: large;
}

.ui.circular.image.profileicon {
  margin-left: 15%;
  width: 100px;
  height: 100px;
}