.ui.grid > .row.errortext {
  color: white;
}

.ui.segment.usersignup {
  max-width: 650px;
  padding: 3%;
  background-color: #272727;
}

.ui.image.ptpimage {
  padding: 3% 0%;
  width: 100%;
  height: 100%;
}

.ui.inverted.transparent.left.icon.input.textcolor > input {
  color: white;
}

.registerBox {
  margin: 0% 27% 0% 27%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.fluid.button.submitButton {
  background-color: yellowgreen;
}