@import "src/styles/_variables.scss";
i.icon.triangle.up {
  color: rgb(102, 235, 69);
  cursor: pointer;
}
i.icon.dropdown {
  color: honeydew;
  cursor: pointer;
}
div.dropdown {
  color: honeydew;
  cursor: pointer;
}
div.triangle.up {
  color: rgb(102, 235, 69);
  cursor: pointer;
}
.grid-header-item-sorting {
  min-width: 90px;
  text-align: left;
}
.row.ui.segment.grid-row-sorting-header {
  padding: 2vh;
  background-color: black;
  color: $white;
  cursor: pointer;
  margin:2px 0px;
  border-radius: 7px;
  padding-bottom: 0%;
  
}





