@import "./variables";
.ticket {
  display: flex;
  justify-content: space-between;
}
.ui.segment.stockTicket {
  width: 30%;
  padding: 3%;
  padding-bottom: 2%;
  background-color: $cardGrey;
  margin-right: 7%;
  border-radius: 15px;
  margin-top: 0%;
}
.ui.buttons > .ui.grey.positive {
  background: yellowgreen;
}
.ui.fluid.button.invest{
  margin-top: 5%;
  background-color: yellowgreen;
}
.ui.grid>.row>.wide.column
{
  margin:auto;
}
.ui.segment.mutualFundTicket {
  width: 30%;
  padding: 3%;
  background-color: $cardGrey;
  margin-right: 7%;
  border-radius: 15px;
  margin-top: 0%;
  padding-top: 50px;
  padding-bottom: 30px;
}
.ui.grid>.row.row-ticket{
  height: 80px;
}
.ui.fluid.button.invest-mutualfund{
  margin-top: 10%;
  background-color: yellowgreen;
}
.ui.fluid.dropdown>.dropdown.icon{
  color: black;
}