@import './variables';
.top-nav-container {
  background-color: $cardGrey;
  margin-bottom: 2%;
}
.top-nav-bar-component{
  justify-content: center;
  display: block;
  margin-top: auto;
}
.headerTopNavBar {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem;
  img {
    cursor: pointer;
  }
}
.logo {
  width: 100px;
  height: 70px;
}

.ui.circular.image.usericon {
  position: relative;
  right: 0px;
  width: 30px;
  height: 30px;
}

.ui.circular.image.popupusericon {
  position: relative;
  top: -20px;
  width: 80px;
  height: 80px;
}

.image-border {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.ui.center.aligned.grid > .row {
  padding: 1px;
}

.ui.bottom.right.popup.transition.visible {
  padding: 10%;
  width: 140px;
  height: 170px;
}

.ui.center.aligned.grid > .row.cardbutton:hover {
  background-color: #919191;
  cursor: pointer;
}

.profilebox {
  padding-top: 11%;
  padding-left: 14%;
  color: white;
}

.emptyprofilebox {
  padding-left: 25%;
  padding-bottom: 10%;
  color: white;
}

.ui.circular.icon.popupusericon {
  position: relative;
  top: -20px;
  font-size: 4em;
}